{
  "presets": [
    ["env", {
      "modules": false,
      "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ]
}
